doctype html
html
  head
    title Koajs - 下一代 Node.js web 框架
    link(rel='stylesheet', href='public/style.css')
    link(rel='shortcut icon', href='favi.co')
    link(rel='stylesheet', href='public/icons/css/slate.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Italiana&subset=latin')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(charset='utf8')
    meta(name='keywords', content='Koa.js, Koa, Koajs, Node, Web框架, generator, RedNode')
    meta(name='description', content='Express原班团队打造的下一代 Node.js web 框架, 全新架构, 核心代码精简, 全新的流程书写代码-Koajs')

  body
    section#top
      #menu
        a#toggle(href='#'): i.icon-menu
        ul
          li: a(href='#introduction') Introduction
          li: a(href='#application') Application
          li: a(href='#context') Context
          li: a(href='#request') Request
          li: a(href='#response') Response
          li: a(href='#guide') Guide
          li: a(href='#links') Links
          li: a(href='http://koajs.com', target='_blank') Koajs.com

      #heading
        #logo Koa
        #tagline 下一代 Node.js web 框架(0.12.0)

    section
      .content
        h1#introduction 简介
        p.
          由 Express 原班人马打造的 koa，致力于成为一个更小、更健壮、更富有表现力的 Web 框架。使用 koa 编写 web 应用，通过组合不同的 generator，可以免除重复繁琐的回调函数嵌套，并极大地提升常用错误处理效率。Koa 不在内核方法中绑定任何中间件，它仅仅提供了一个轻量优雅的函数库，使得编写 Web 应用变得得心应手。

    section
      .content
        include ../public/cn/index_cn.md

    section
      .content
        include ../public/cn/context_cn.md

    section
      .content
        include ../public/cn/request_cn.md

    section
      .content
        include ../public/cn/response_cn.md

    section
      .content
        include ../public/cn/guide_cn.md


    section
      .content
        h1#links 相关链接
        p.
          相关社区, 可以发现Koa第三方中间件, 完整可运行例子, 简明的指导,以及更多.
          如果发现问题可以在IRC上提出讨论.

        ul
          li: a(href='https://github.com/koajs') GitHub organization
          li: a(href='https://github.com/koajs/koa') GitHub repository
          li: a(href='https://github.com/koajs/examples') Examples
          li: a(href='https://github.com/koajs/koa/wiki') Middleware
          li: a(href='https://github.com/koajs/koa/wiki') Wiki
          li: a(href='https://plus.google.com/communities/101845768320796750641') G+ Community
          li: a(href='https://groups.google.com/forum/#!forum/koajs') Mailing list
          li: a(href='https://github.com/koajs/koa/blob/master/docs/guide.md') Guide
          li: a(href='https://github.com/koajs/koa/blob/master/docs/faq.md') FAQ
          li: a(href='http://koajs.com/') Koajs.com
          li: a(href='https://sourcegraph.com/koajs') sourcegraph koajs
          li: a(href='https://npmjs.org/package/koa') NPM koa
          li: a(href='http://koajs.cn/') Koajs.cn
          li: <strong>#koajs</strong> on freenode


    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-46116808-3', 'rednode.cn');
        ga('send', 'pageview');
